<div class="main-project">

  <div *ngIf="selectedProject" class="left-column">
    <h3>Associated project:</h3>
    <div class="instrument-card">
      <div class="instrument-left">
        <div class="instrument-meta">
          <!--<ag-project-selection [projects]="projects"></ag-project-selection>-->
          <div class="instrument-name">{{ selectedProject?.name || 'No project selected' }}</div>
        </div>
      </div>
    </div>
  </div>

  <h3>Available projects:</h3>

  <div class="project-card">
    <!--*ngIf="!selectedProject"-->
    Select a project...
    <ag-project-selection [projects]="projects" (projectSelected)="projectSelected($event)"></ag-project-selection>

  </div>

  <!--(projectSelected)="isSelected($event)"-->
  <!--<div *ngFor="let project of projects"
       class="project-card"
       [class.selected]="isSelected(project)"
       (click)="onSelect(project)"
       (keydown.enter)="onSelect(project)"
       role="button"
       tabindex="0"
       [attr.aria-selected]="isSelected(project)">
    <div class="project-left">
      <div class="project-meta">
        <div class="project-name">{{ project.name }}</div>
      </div>
    </div>
  </div>-->
</div>
