div[slot='context'] {
  display: flex;
  align-items: center;
}

awf-icon {
  width: 16px;
  height: 16px;
  margin: 0 5px;
}

awf-widget-container {
  min-height: 200px;
  min-width: 400px;
}

.line {
  border-left: 1px solid var(--at-gray);
  padding-left: 5px;
}

/* New layout: 2 columns, left = status, right = run queue */
.status-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: start;
  justify-items: stretch;
  margin-top: 8px;
  /*width: 100%;*/
  /*box-sizing: border-box;*/
  justify-content: start; /* force grid to align to left */
}

/*.status-left {
  min-width: 0;*/ /* allow children to shrink inside grid */
  /*height: auto;
}

.status-right {
  min-width: 0;
  height: auto;
}*/

body {
  position: absolute;
  width: 100%;
  height: 100%;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
}

#root-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
